# CONFIGURAÇÕES DO POSTGRES
POSTGRES_USUARIO=seu_usuario_aqui
POSTGRES_SENHA=sua_senha__aqui
POSTGRES_BANCO=medatlas_db

# CONFIGURAÇÕES DO REDIS
REDIS_SENHA=sua_senha_redis_aqui

# CONFIGURAÇÕES DO MINIO
MINIO_USUARIO=seu_usuario_minio
MINIO_SENHA=sua_senha_minio

# CONFIGURAÇÕES DO RABBITMQ
RABBITMQ_USUARIO=seu_usuario_rabbitmq
RABBITMQ_SENHA=sua_senha_rabbitmq